.feedback{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-right: 40px;
    padding-bottom: 50px;
    margin-left: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);;
}
.feedback__form{
    width: 740px;
    height: 330px;
    background: rgba(196, 196, 196, .65);
    border: 3px solid rgba(255,255,255,.65);
    border-radius: 25px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
}
.feedback__text{
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-right: 55px;
    display: flex;
    align-items: center;
}
.feedback__textArea{
    width: 700px;
    height: 160px;
    font-size: 22px;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}
.feedback__buttons{
    margin-bottom: 25px;
}
 @media (max-width: 1280px){
    .feedback{
        flex-direction: column;
        margin-right: 25px;
        margin-left: 25px;
    }
    .feedback__text{
        margin-right: 0;
        margin-top: 0;
        font-size: 28px;
    }
}
@media (max-width: 760px){
    .feedback__text{
        margin-right: 0;
        margin-top: 0;
        font-size: 24px;
    }
    .feedback__buttons {
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feedback__form{
        width: 440px;
        height: 640px;
    }
    .feedback__textArea {
        width: 400px;
        height: 520px;
        font-size: 20px;
        font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    }
    .login-page__button_margin_top:last-of-type {
        margin-left: 0;
    }
}
@media (max-width: 520px){
    .feedback{
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px;
    }
    .feedback__text{
        margin-right: 0;
        margin-top: 0;
        font-size: 22px;
    }
    .feedback__buttons {
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feedback__form{
        width: 340px;
        height: 540px;
    }
    .feedback__textArea {
        width: 300px;
        height: 420px;
        font-size: 18px;
        font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    }
}
@media (max-width: 460px){
    .feedback__text{
        font-size: 20px;
    }
}